%header
  %h1 Invoice
  %h2 #{Rails.application.local_settings[:conference_name]} Sponsorship
%article
  %address
    = @invoice.sponsor.name
    %br
    = content_tag 'pre', @invoice.sponsor.address
  %table.meta
    %tr
      %th Invoice #
      %td= @invoice.name
    %tr
      %th Date
      %td= Time.now.to_date
    %tr
      %th Amount Due
      %td= number_to_currency @invoice.total

  %table.items
    %thead
      %tr
        %th Item
        %th Rate
        %th Quantity
        %th Price
    %tbody
      %tr
        %td Base package: #{@invoice.package_type.name}
        %td= number_to_currency @invoice.package_type.price
        %td 1
        %td= number_to_currency @invoice.package_type.price
      - @invoice.invoice_addon_line_items.each do |line_item|
        %tr
          %td= line_item.package_addon_type.name
          %td= number_to_currency line_item.package_addon_type.price
          %td= line_item.quantity
          %td= number_to_currency line_item.price

  %table.balance
    %tr
      %th Total
      %td= number_to_currency @invoice.total
    %tr
      %th Amount Paid
      %td= number_to_currency @invoice.total_payments
    %tr
      %th Balance Due
      %td= number_to_currency @invoice.balance

%aside
  %h1 Please remit payment to
  .info
    %address= simple_format Rails.application.local_settings[:payment_address]
    %br
    %p
      Make checks payable to
      %strong= Rails.application.local_settings[:payment_payable_to]
      and please include
      %strong= Rails.application.local_settings[:payment_memo]
      in the memo
