%h1.page-header Invoice #{@invoice.name}
%a.pull-right.btn.btn-success{href: invoice_print_url(@invoice) } Print

%h2 Overview

%p
  %b Sponsor:
  = @invoice.sponsor.name
%p
  %b Package type:
  = @invoice.package_type.name
%p
  %b Total:
  = number_to_currency @invoice.total

%a.btn.btn-default{href: edit_invoice_path(@invoice)} Edit base package

%h2 Addons

- if @invoice.addons_allowed?
  %table.table.table-striped
    %tr
      %th Addon
      %th Price
      %th Qty
      %th Subtotal
      %th
    - @invoice.invoice_addon_line_items.each do |line_item|
      %tr
        %td= line_item.package_addon_type.name
        %td= line_item.package_addon_type.price
        %td= line_item.quantity
        %td= number_to_currency line_item.price
        %td= link_to 'Edit', edit_invoice_addon_line_item_url(line_item)
  %a.btn.btn-primary{href: new_invoice_addon_line_item_url(invoice_id: @invoice.id)} Add addon
- else
  Addons not allowed with the selected package type
