= page_header 'Listing sponsors'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Invoice
      %th Balance
      %th Note

  %tbody
    - @sponsors.each do |sponsor|
      %tr
        %td= link_to sponsor.name, sponsor
        %td
          -if invoice = sponsor.invoice
            = link_to number_to_currency(invoice.total), invoice
          -else
            = link_to 'Create Invoice', new_invoice_url(sponsor_id: sponsor.id)
        %td= number_to_currency sponsor.balance
        %td= simple_format h(sponsor.note), {}, wrapper_tag: 'div', sanitize: false

%br

%a.btn.btn-primary{href: new_sponsor_path}
  %span.glyphicon.glyphicon-plus
  New Sponsor
