%h1.page-header Sponsor: #{@sponsor.name}

- unless @sponsor.invoice
  %a.btn.btn-primary.pull-right{href: new_invoice_url(sponsor_id: @sponsor.id)}
    %span.glyphicon.glyphicon-file
    Create Invoice

-if @sponsor.invoice && @sponsor.invoice.balance > 0
  %a.btn.btn-primary.pull-right{href: new_payment_url(invoice_id: @sponsor.invoice.id)}
    %span.glyphicon.glyphicon-file
    Add Payment

%dl.dl-horizontal
  %dt Balance:
  %dd= @sponsor.balance
  %dt Address:
  %dd= @sponsor.address
  %dt Note:
  %dd= @sponsor.note

  -if @sponsor.invoice
    %dt Invoice:
    %dd= link_to @sponsor.invoice.name, @sponsor.invoice

%a.btn.btn-default{href: edit_sponsor_path(@sponsor)} Edit
