%h1.page-header Sponsor: #{@sponsor.name}

- unless @sponsor.invoice
  %a.btn.btn-primary.pull-right{href: new_invoice_url(sponsor_id: @sponsor.id)}
    %span.glyphicon.glyphicon-file
    Create Invoice

%dl.dl-horizontal
  %dt State:
  %dd= @sponsor.state
  %dt Address:
  %dd= @sponsor.address
  %dt Note:
  %dd= @sponsor.note

  -if @sponsor.invoice
    %dt Invoice:
    %dd= link_to @sponsor.invoice.name, @sponsor.invoice

%a.btn.btn-default{href: edit_sponsor_path(@sponsor)} Edit
