= simple_form_for(@payment) do |f|
  = f.error_notification

  .form-inputs
    = f.association :invoice
    = f.association :payment_type
    = f.input :amount
    = f.input :notes

  .form-actions.form-group
    = f.button :submit
