%h1 Listing payments

%table.table.table-striped
  %thead
    %tr
      %th Invoice
      %th Payment type
      %th Ammount
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= link_to payment.invoice.name, payment.invoice
        %td= payment.payment_type.name
        %td= number_to_currency payment.ammount
        %td= link_to 'Show', payment
        %td= link_to 'Edit', edit_payment_path(payment)

%br

%a.btn.btn-primary{href: new_payment_path}
  %span.glyphicon.glyphicon-plus
  New Payment