%p.pull-right
  %a.btn.btn-primary{href: new_payment_path}
    %span.glyphicon.glyphicon-plus
    New Payment


= page_header 'Listing payments'

%table.table.table-striped
  %thead
    %tr
      %th Invoice
      %th Payment type
      %th Amount
      %th Notes
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= link_to payment.invoice.name, payment.invoice
        %td= payment.payment_type.name
        %td= number_to_currency payment.amount
        %td= truncate payment.notes, length: 20
        %td= link_to 'Show', payment
        %td= link_to 'Edit', edit_payment_path(payment)
