%p.pull-right
  %a.btn.btn-default{href: edit_payment_path(@payment)} Edit

= page_header "Payment: #{@payment.invoice.sponsor.name} (#{@payment.invoice.name})"

%dl.dl-horizontal
  %dt Invoice:
  %dd= link_to @payment.invoice.name, @payment.invoice
  %dt Payment type:
  %dd= @payment.payment_type.name
  %dt Amount:
  %dd= number_to_currency @payment.amount
  %dt Notes:
  %dd= simple_format h(@payment.notes), {}, wrapper_tag: 'div'
  %dt Created by:
  %dd= @payment.created_by.email
