%h1.page-header Payment: #{@payment.invoice.sponsor.name} (#{@payment.invoice.name})

%dl.dl-horizontal
  %dt Invoice:
  %dd= link_to @payment.invoice.name, @payment.invoice
  %dt Payment type:
  %dd= @payment.payment_type.name
  %dt Ammount:
  %dd= number_to_currency @payment.ammount
  %dt Notes:
  %dd= simple_format h(@payment.notes), {}, wrapper_tag: 'div'
  %dt Created by:
  %dd= @payment.created_by.email

%a.btn.btn-default{href: edit_payment_path(@payment)} Edit
