%p
  %b Name:
  = @package_addon_type.name
%p
  %b Price:
  = @package_addon_type.price
%p
  %b Spots remaining:
  = @package_addon_type.remaining
%p
  %b Total spots:
  = @package_addon_type.total_spots

%a.btn.btn-default{href: edit_package_addon_type_path(@package_addon_type)} Edit

%h2 Allocated spots

%table.table.table-striped
  %tr
    %th Invoice
    %th Qty
  - @package_addon_type.invoice_addon_line_items.each do |line_item|
    %tr
      %td= link_to line_item.invoice.name, line_item.invoice
      %td= line_item.quantity
