%p#notice= notice

%p
  %b Invoice:
  = @invoice_addon_line_item.invoice
%p
  %b Package addon type:
  = @invoice_addon_line_item.package_addon_type
%p
  %b Quantity:
  = @invoice_addon_line_item.quantity

= link_to 'Edit', edit_invoice_addon_line_item_path(@invoice_addon_line_item)
\|
= link_to 'Back', invoice_addon_line_items_path
