.navbar-header
  %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-root")
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to root_path, :class => 'navbar-brand' do
    = Rails.application.local_settings[:site_brand]
#navbar-collapse-root.collapse.navbar-collapse
  %ul.nav.navbar-nav
    - if browserid_authenticated?
      %li= link_to "Sponsors", sponsors_url
      %li= link_to "Invoices", invoices_url
      %li= link_to "Payments", payments_url
      %li.dropdown
        %a.dropdown-toggle(href="#" data-toggle="dropdown")Admin <b class="caret"></b>
        %ul.dropdown-menu
          %li= link_to "Package Types", package_types_url
          %li= link_to "Package Addon Types", package_addon_types_url
  %ul.nav.navbar-nav.navbar-right
    -if browserid_email
      %li= link_to "About", about_url
      %li= logout_link
    -else
      %li= login_link

