= simple_form_for(@package_type) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :price
    = f.input :addons_allowed
    = f.input :tickets
    = f.input :total_spots

  .form-actions.form-group
    = f.button :submit
