%p
  %b Name:
  = @package_type.name
%p
  %b Price:
  = number_to_currency @package_type.price
%p
  %b Spots remaining:
  = @package_type.remaining
%p
  %b Addons allowed:
  = @package_type.addons_allowed
%p
  %b Tickets:
  = @package_type.tickets
%p
  %b Total spots:
  = @package_type.total_spots

%a.btn.btn-default{href: edit_package_type_path(@package_type)} Edit


%h2 Allocated spots

%table.table.table-striped
  %tr
    %th Sponsor
  - @package_type.invoices.each do |invoice|
    %tr
      %td= link_to invoice.sponsor.name, invoice.sponsor
