%h1.page-header Package Type: #{@package_type.name}

%dl.dl-horizontal
  %dt Price:
  %dd= number_to_currency @package_type.price
  %dt Spots remaining:
  %dd= @package_type.remaining
  %dt Addons allowed:
  %dd= @package_type.addons_allowed
  %dt Tickets:
  %dd= @package_type.tickets
  %dt Total spots:
  %dd= @package_type.total_spots

%a.btn.btn-default{href: edit_package_type_path(@package_type)} Edit

%h2 Allocated spots

%table.table.table-striped
  %thead
    %tr
      %th Sponsor
  %tbody
    - @package_type.invoices.each do |invoice|
      %tr
        %td= link_to invoice.sponsor.name, invoice.sponsor
