%p
  %b Name:
  = @package_type.name
%p
  %b Price:
  = @package_type.price
%p
  %b Addons allowed:
  = @package_type.addons_allowed
%p
  %b Tickets:
  = @package_type.tickets
%p
  %b Total spots:
  = @package_type.total_spots

%a.btn.btn-default{href: edit_package_type_path(@package_type)} Edit
